:root {
  /* COLORS */
  --color-bg: #ffffff;
  --color-bg-secondary: #f6f7f9;
  --color-text: #0a0a0a;
  --color-text-secondary: #717182;

  /* EFFECTS */
  --box-shadow:
    #00000000 0px 0px 0px 0px, #00000000 0px 0px 0px 0px,
    #00000000 0px 0px 0px 0px, #00000000 0px 0px 0px 0px,
    #0000001a 0px 1px 3px 0px, #0000001a 0px 1px 2px -1px;
}
