.app__result {
  height: 50vh;
  outline: 1px solid var(--gray-E2);
  border-radius: 14px;
  padding: 5px;
}

.app__result-list {
  outline: 1px solid var(--gray-E2);
  list-style-type: none;
  border-radius: 14px;
  padding: 12px 16px;
}

.app__result-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  height: 85%;
  list-style-type: none;
  padding: 10px;
  overflow-y: scroll;
}

.app__result-item {
  width: 240px;
  height: 360px;
  outline: 1px solid var(--gray-E2);
  border-radius: 14px;
  padding: 10px;
}

.app__result-section {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app__result-title {
  text-align: center;
  margin: 0;
  padding: 0;
}

.app__result-description {
  padding: 0;
  margin: 0;
  margin: auto;
}
