:root {
  --gray-E5: #e5e5e5;
  --gray-E2: #e2e2e2;
  --gray-F3: #f3f3f5;
  --gray-D3: #d3d3d3;
  --gray-7E: #7e7e7f;

  --blue-63: #6366f1;
  --blue-55: #5558e3;

  --red-DC: #dc232c;
  --red-D3: #d34149;

  --white: #ffffff;
}

button {
  all: unset;
  display: grid;
  place-items: center;
  color: var(--white);
  width: 125px;
  height: 48px;
  background: var(--blue-63);
  border-radius: 10px;
  cursor: pointer;
}

#root {
  display: grid;
  place-items: center;
  height: 100vh;
}
